        <img ng-if="loadingImg" src="content/images/loading.gif" alt="Loading..."/>

<div class="row home-stuff">
    
    <div class="pop-box seven columns">
        <h3 class="blue-text popular"> Popular Movies </h3>
        
        <carousel interval="4000">
            <slide class="popular-items" ng-repeat="movie in popular">
                    <div class="popular-img-box">
                        <img class="popular-image" alt="image" ng-src="{{movie.poster_path}}" ng-click="singlePage('movie', movie.id)"/>
                    </div>
                    <div class="popular-title">
                        <h3 class="home-title" ng-click="singlePage('movie', movie.id)"> {{movie.original_title}} </h3>
                        
                    </div>
            </slide>       
        </carousel>
    </div>
    
    <div class="five columns playing-box">
        <h3 class="playing blue-text"> Now Playing </h3>
        <ol class="playing-list">
            <li class="" ng-repeat="movie in playing">
                <div class="">
                    <!--<div class="img-container">
                        <img class="results-img" alt="image" ng-src="{{movie.poster_path}}" />
                    </div>-->
                    <div class="">
                        <p class="desc home-desc" ng-click="singlePage('movie', movie.id)"> {{movie.original_title}} </p>
                        
                    </div>
                </div>
            </li> 
        </ol>
    </div>
</div>