<!DOCTYPE html>
<html>
    <head>

        <title>Movie DB</title>

        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta name="viewport" content="width=device-width"/>
        <meta charset="utf-8">

        <link rel="stylesheet" href="content/css/normalize.css">
        <link rel="stylesheet" href="content/css/skeleton.css">
        <link rel="stylesheet" href="content/css/style.css">
        

    </head>
    
    <body ng-app="myApp">

    	<nav class="header" ng-controller="mainController"> 
    		<!--<h3 class="title"> Movie DB </h3>-->
            <span class="title logo-span"> <img ng-click="home()" src="content/images/logo.png" class="logo" alt="logo" /> </span>
            <div class="search-box row">
    			<form ng-submit="getResults()" class="twelve columns">
    				<input type="text" ng-model="search" placeholder="Enter a title" class="search"/> 
    				<button type="submit" class="submit button-primary"> Search </button>
    			</form>
    		</div>
    	</nav>

    	<div class="container">

            <div ng-view></div>

    	</div>
        
        <div class="bg"></div>

    <script type="text/javascript" src="scripts/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.js"> </script>

        
    <script type="text/javascript" src="scripts/index.js"></script>
        
    <script type="text/javascript" src="scripts/resultsController.js"></script>
    <script type="text/javascript" src="scripts/tvController.js"></script>
    <script type="text/javascript" src="scripts/movieController.js"></script>
    
    </body>

 </html>