html{
    height: 100%;
}

body{
    min-height: 100%;
    position: relative;
    padding-bottom: 30px;
}


.header{
	width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 8%;
    background-color: black;
}

.bg{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:.8;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    /*border-width: 13px;
    border-image: url(http://i.imgur.com/Sm9CNai.png) 27 repeat stretch;
    box-sizing: border-box;*/
}

.search-box{
    margin-top: 0px;
    text-align: center;
}

.title{
    color: white;
    padding: 15px;
    padding-left: 0px;
    padding-bottom: 0;
    margin: 0;
    margin-left: 20px;
}

.movie-title{  
    margin-top: 15px;
    margin-bottom: 30px;
}

.container{
    padding: 13px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    opacity: .85;
}

.logo{
    max-width: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
}

.movie-box{
    padding-top: 15px;
}

.search-form{
    display: inline-block;
    width: 80%;
}

.pop-box{
    padding-left: 20px;
}

.popular-image{
    max-width: 500px;
    width: 100%;
    padding-bottom: 15px;
    margin: 5px;
}

.search{
	width: 40%;
	margin-top: 20px;
    color: #1EAEDB;
}

.submit{
    margin-right: 10px; 
    margin-left: 20px;
}

ul{
    list-style: none;
}

.temp{
    display: flex;
    align-items: center;
}

.result{
    border-top: 1px solid #1EAEDB;
    padding-top: 20px;
}

.result:first-child{
    border: none;
}

.results-img{
    max-width: 92px;
}

.movie-img{
    max-width: 250px;
    border-radius: 10px;
    margin-left: 20px;
}

.movie-content{
    margin-left: 0px;
}

.img-container{
    margin-right: 30px;
}

.movie-info{
    margin-top: 20px;
}

.movie-box{
    margin-bottom: 20px;
}

.movie-main{
    border-radius: 10px;
}

.release{
    padding: 5px;
    margin: 5px;
    font-size: 1.85rem;
    display: block;
    margin-left: 0;
    font-weight: bold;
}

.blue-text{
    color: #1EAEDB;
}

.stars{
    max-width: 32px;
}

.popular{
    margin-top: 20px;
}

.list-title{
    display: inline;
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: pointer;
    color: #325c9f;
}

.list-title:hover{
    color: #1EAEDB;
}

.popular-title{
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 0px;
    margin-top: 10px;
    text-align: center;
}

.desc{
    line-height: 1.8;
    font-size: 1.65rem;
    font-weight: bold;
    color: black;
}

.movie-title{
    border-bottom: 1px solid black;
}

.rate{
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 1.75rem;
    font-weight: bold;
}

.empty-box{
    margin-top: 30px;
}

.oops{
    color: #1EAEDB;
}

.playing-box{
    text-align: left;
}

.playing{
    margin-top: 20px;
}

.home-desc{
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.home-desc:hover{
    color: #1EAEDB;
    cursor: pointer;
}

.home-title{
    font-size: 2.25rem;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    color: black;
}

.home-title:hover{
    color: #1EAEDB;
    cursor: pointer;
}

.popular-items{
    text-align: center;
}

.carousel-indicators li{
    background-color: black;
}

.carousel-indicators .active{
    background-color: #1EAEDB;
}



@media(max-width: 800px) {
    
    .title{
        20rem;
    }
    
    .desc{
        line-height: 1.5;
    }
    
    .img-container{
        margin-right: 35px;
    }
    
    .movie-img{
        margin-top: 0px;
        max-width: 150px;
    }
    
    .movie-content{
        margin-left: 0px;
        margin-bottom: 20px;
        min-width: 100%;
    }
    
    .rating{
        display: inline-block;
        margin-top: 20px;
    }
    
    .logo{
        max-width: 60px;
    }
    
}

@media(max-width: 550px) {
    .temp{
        display: block;
    }
    
    .popular{
        margin-left: 0px;
    }
}

@media(max-width: 500px) {

	.search{
		width: 80%;
	}
    
    .temp{
        display: block;
    }
    
    .submit{
        margin-left: 0px;
    }
    
    .pop-box{
        padding-left: 0px;
    }
}