html, body{
    height: 100%;
}

.header{
	background-color: #0a0909;
	width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.search-box{
    background-color: #0a0909;
    margin-top: 0;
}

.title{
    color: #1EAEDB;
    padding: 15px;
    padding-left: 0px;
    padding-bottom: 0;
    margin: 0;
    margin-left: 20px;
}

.search{
	width: 40%;
	margin-top: 20px;
    margin-left: 20px;
    color: #1EAEDB;
}

.submit{
    margin-right: 10px; 
    margin-left: 20px;
}

ul{
    list-style: none;
}

.temp{
    display: flex;
    align-items: center;
}

.result{
    border-top: 1px solid #1EAEDB;
    padding-top: 20px;
}

.results-img{
    width: 100%;
    max-width: 154px;
}

.release{
    padding: 5px;
    margin: 5px;
}

.list-title{
    display: inline;
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: pointer;
    color: #325c9f;
}

.list-title:hover{
    color: #1EAEDB;
}

.desc{
    line-height: 1.8;
}

@media(max-width: 800px) {
    
    .title{
        20rem;
    }
    
    .desc{
        line-height: 1.5;
    }
    
}

@media(max-width: 500px) {

	.search{
		width: 80%;
	}
    
    .temp{
        display: block;
    }
}